<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nova Theme</title>
    <meta name="Nova theme" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/responsive.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>

<body>

<!-- Navigation
    ================================================== -->
<div class="hero-background">
    <div>
        <img class="strips" src="/assets/images/strips.png">
    </div>
    <div class="container">
        <div class="header-container header">
            {{#loggedIn}}
            <a class="navbar-item" href="/users/{{username}}">Account</a>
            <a class="navbar-item" href="/auth/logout">Logout</a>
            {{else}}
            <a href="/auth/login"></a>Register/Login</a>
            {{/loggedIn}}
            <div class="header-right">
                <a class="navbar-item" class="navbar-item" href="/">Home</a>
            </div>
        </div>
        <!--navigation-->


        <!-- Hero-Section
          ================================================== -->

        <div class="hero row">
            <div class="hero-right col-sm-6 col-sm-6">
                <h1 class="header-headline bold"> Your account <br></h1>
            </div><!--hero-left-->

            <div class="col-sm-6 col-sm-6 ipad">
                <img class="ipad-screen img-responsive" src="/assets/images/screen.png"/>
            </div>

            <div><img class="mouse" src="/assets/images/mouse.svg"/></div>

        </div><!--hero-->

    </div> <!--hero-container-->

</div><!--hero-background-->
<!-- Pricing
  ================================================== -->
<div id="pricing" class="pricing-background">
    <form action="/users" method="POST" style='background-color: white;padding-top:50px'>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" value="{{name}}" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="github">GitHub:</label>
        <input type="text" value="{{github}}" class="form-control" name="github" id="github">
    </div>
    <div class="form-group">
        <label for="facebook">Facebook:</label>
        <input type="text" value="{{facebook}}" class="form-control" name="facebook" id="facebook">
    </div>
    <div class="form-group">
        <label for="twitter">Twitter:</label>
        <input type="text" value="{{twitter}}" class="form-control" name="twitter" id="twitter">
    </div>
    <button class="btn btn-primary">Update</button>
</form>

</div><!--pricing-background-->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script src="/assets/js/script.js"></script>

</body>